.alert-toast{
    top: 4vh;
    position: fixed;
    width: 80vw;
    margin: 0 10vw;
    left: 0;
    z-index: 1051;
}
.dashboard-alert{
    top: 14vh;
    position: fixed;
    width: 78vw;
    margin: 0vw 20vw;
    left: 0;
    z-index: 1201
}